@keyframes text-appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes video-appearance {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes line {
    0% {
        height: 0;

    }

    100% {
        height: 100%;
    }
}

@keyframes line-after {
    0% {
        opacity: 0;
    }

    67% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

.main {
    @include container;

    height: 597px;

    position: relative;

    margin-top: 140px;

    &-line {
        width: 2px;
        height: 100%;

        position: absolute;

        background-color: #D9D9D9;

        animation: line 2s ease;

        &:before {
            content: '';
            display: block;

            position: absolute;
            top: -3px;
            left: -2px;

            width: 6px;
            height: 6px;

            border-radius: 100%;
            background-color: #D9D9D9;
        }

        &:after {
            content: '';
            display: block;

            position: absolute;
            bottom: -5px;
            left: -4px;

            width: 10px;
            height: 10px;

            border-radius: 100%;
            background-color: #D9D9D9;

            animation: line-after 3s;
        }
    }

    &__content {
        padding: 7px 0 0 31px;
    }

    &-title {

        color: #F23207;

        font-family: Montserrat;
        font-size: 36px;
        font-weight: 500;

        letter-spacing: 0.9px;
        text-transform: uppercase;

        animation: text-appearance 2s ease;
    }

    &-video {
        height: 513px;

        margin-top: 39px;

        animation: video-appearance 4s ease;

        video {
            width: 100%;

            -webkit-clip-path: url(#svgTextPath);
            clip-path: url(#svgTextPath);
        }

        text {
            font-family: 'Bebas Neue';
            font-weight: 700;
            letter-spacing: -10.729px;
            font-size: 715px;
        }
    }
}

@media (max-width: 1299px) {
    .main {
        overflow: hidden;

        &-line {
            display: none;
        }

        &__content {
            padding: 0;
        }

        &-video {
            text {
                font-size: 565px;
            }
        }
    }
}



@media (max-width: 980px) {
    .main {
        margin-top: 60px;

        &-video {
            text {
                font-size: 440px;
            }
        }
    }
}

@media (max-width: 730px) {
    .main {
        &-video {
            text {
                font-size: 312px;
                letter-spacing: -6px;
            }
        }
    }
}

@media (max-width: 540px) {
    .main {
        &-video {
            text {
                font-size: 190px;
                letter-spacing: -2px;
            }
        }
    }
}