@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
    font-family: Bebas Neue;
    src: url(../fonts/Bebas-Neue.ttf) format('TrueType');
    font-weight: 700;
}